*{
    border: 1px solid red;
    color: #6B4E42;
    
}

#BeforeStudy{
    width: 410px;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}

.beforeStudyImg{
    margin-top: 30px;
    width: 220px;
    height: 300px;
}

.startBox{
    border: 1px solid #eeeeee;
    border-radius: 10px;
    width: 220px;
    height: 100px;
    vertical-align: center;
    margin: 20px 95px;
}
.StartStudy{
    border: 1px solid #7bc8ac;
    background-color: #A8E6CF;
    border-radius: 10px;
    width: 65px;
    height: 25px;
}