/* 기본 반응형 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

#App {
  margin: 0 auto;
}

/* 레이아웃 프레임 */
#user-frame {
  position: relative;
  margin: 0 auto;
  height: 100vh;
  /* overflow-y: hidden; */
}
#user-frame .homePage{
   /* 스크롤 영역 */
  overflow-y: auto;
  box-sizing: border-box;
  padding-bottom: 73px;
}
/* ========================================= */
/*  PC 특정 해상도에서 가로 720 고정 설정 */
/* ========================================= */

/* 예: 화면 너비가 720 이상 PC에서만 */
@media screen and (min-width: 720px)  {
  #user-frame {
    width: 410px;
    margin: 0 auto;
  }
}

/* ✅ 그 외의 모바일/대형 화면에서는 자동 반응형 유지 */
@media screen and (max-width: 719px) {
  #user-frame {
    width: 100%;
  }
}

