
#footer {
    background-color: #FFF9F0;
    border: 1px solid #FFF9F0;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.23);
}

#footer .list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
}